name: Auto Purge README Cache

on:
  push:
    branches: [ main ]  
  schedule:
    - cron: '0 0,12 * * *'  
  workflow_dispatch:

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - uses: kevincobain2000/action-camo-purge@v1